*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
}

:root{
    --primary-color: rgb(1, 199, 133);
    --accent-color: rgb(0, 158, 105);
    --bg-color: rgb(245, 230, 255);
    --text-color: rgb(104, 110, 109);
    --link-color: rgb(2, 177, 119);
    --light-gray: rgb(220, 224, 230);
    --gray: #808080;
    --dark-gray: #555;
}

body{
    /* background-color: rgb(206, 255, 243) ; */
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 70vw;
    margin:1.5rem auto;
    /* background-color: aqua; */
    /* border: 1px solid var(--dark-gray); */
}

.navBar #logo{
    /* background-color: rgb(122, 122, 216); */
    display: flex;
    height: 50%;
}

.navBar #logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(122, 122, 216); */
    gap: 0.4rem;
}

.navBar #logo span{
    color: rgb(36, 44, 42);
    font-weight: 700;
    font-size:2.3rem;
    transition: all 0.3s linear 0s;
    
}

.navBar #logo a:hover span{
    color: var(--link-color);
}

.navBar #logo img{
    width: 40px;
    height: 40px;
}

.navBar #navLinks{
    display: none;
    gap: 1.5rem;
    align-items: center;
    /* width: 25%; */
    height: 50%;
    /* background-color: rgb(122, 122, 216); */
}

.navBar #navLinks a{
    color: rgb(104, 110, 109);
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

.navBar #navLinks a:hover{
    color: var(--link-color);
}

.navBar #contact{
    display: none;
    justify-content: center;
    align-items: center;
    /* width: 10%; */
    height: 50%;
    /* background-color: rgb(122, 122, 216); */
}

.navBar #contact a{
    color: var(--bg-color);
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--primary-color);
    padding: 0.5rem 1.7rem;
    border-radius: 0.375rem;
    transition: all 0.3s linear 0s;
}

.navBar #contact a:hover{
    background-color: var(--link-color);
}

.navBar #menu{
    display: flex;
    align-items: center;
    width: 2.6em;
    height: 50%;
    border: none;
    background-color: var(--bg-color);
    /* background-color: rgb(122, 122, 216); */
}

@media (min-width: 1200px){
    .navBar{
        justify-content: space-between;
    }
    .navBar #navLinks , #contact{
        display: flex;
    }
    .navBar #menu{
        display: none;
    }
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    height: auto;
    width: 70vw;
    margin: auto;
    padding-top: 1rem;
    /* background-color: rgb(122, 122, 216); */
    /* border: 1px solid var(--dark-gray); */
}

.hero .image
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    max-width: 50%;
    /* background-color: rgb(122, 122, 216); */
    object-fit: cover;
    border-radius: 1rem;
    overflow: hidden;
    /* border: 5px solid var(--dark-gray); */
}

.hero img{
    height: 100%;
    width: auto;
    border-radius: 1rem;
    transition: all 0.3s linear 0s;
    overflow: hidden;
}

.hero img:hover{
    transform: scale(1.01);
}

.hero .text{
    display: flex;
    flex-direction: column;
    height: 50vh;
    max-width: 50%;
    justify-content: space-evenly;
    animation: 1s ease 0s 1 forwards SlideFromLeft;
    opacity: 0;
}

@keyframes SlideFromLeft{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.hero #introduce{
    color: var(--accent-color);
    font-size: 1rem;
    font-weight: 600;
    display: grid;
    gap: 0.7rem;
}

.hero #slogan{
    color: rgb(36, 44, 42);
    font-weight: 700;
    font-size:3.6rem;
}

.hero .para{
    color: rgb(104, 110, 109);
    font-size: 1.1rem;
    font-weight: 450;
    width: 80%;
}

.hero #buttons{
    display: flex;
    gap: 1.5rem;
    /* background-color: rgb(122, 122, 216); */
    height: 10%;
}

#start,#tour{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(122, 122, 216); */
}

#start a{
    color: var(--bg-color);
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--primary-color);
    padding: 0.5rem 1.2rem;
    border-radius: 0.375rem;
    transition: all 0.3s linear 0s;
}

#start a:hover{
    background-color: var(--link-color);
}

#tour a{
    color: var(--bg-color);
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgb(56, 68, 65);
    padding: 0.5rem 1.7rem;
    border-radius: 0.375rem;
    transition: all 0.3s linear 0s;
}

#tour a:hover{
    background-color: rgb(36, 44, 42);
}

@media (max-width: 1820px)
{
    .hero{
        flex-direction: column;
        width: 100%;
        gap: 3rem;
    }
    .hero .para{
        width: 85%;
    }
    .hero .text{
        text-align: center;
        align-items: center;
        gap: 1.5rem;
        height: auto;
    }
    .hero .text #slogan{
        font-size: 3rem;
    }
    .hero img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.trustee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 2rem;
    padding: 2rem 0;
    /* background-color: rgb(122, 122, 216); */
    /* border: 1px solid var(--dark-gray); */
    animation: 1s ease 0s 1 forwards SlideFromLeft;
}

.trustee .text{
    color: rgb(36, 44, 42);
    font-weight: 700;
    font-size:2rem;
}

.trustee .logos{
    display: grid;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(auto-fit,minmax(10px,110px)); */
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding: 1.5rem 2.5rem;
    margin: auto;
    background-color: var(--light-gray);
    /* border: 1px solid var(--dark-gray); */
    border-radius: 1rem;
}

.trustee .logos .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    /* background-color: rgb(122, 122, 216); */
}

.trustee .logos img{
    width: 1.5rem;
    height: 1.5rem;
}

.trustee .logos .name{
    color: rgb(131, 138, 136);
    font-weight: 800;
    font-size:1rem;
}

@media (max-width: 1250px)
{
    .trustee .logos{
        grid-template-columns: repeat(2,1fr);
    }
}

.cards{
    height: auto;
    width: 100%;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
}

.cards .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

.cards .heading p{
    color: rgb(36, 44, 42);
    font-weight: 700;
    font-size: 2rem;
}

.cards .heading span{
    color: rgb(104, 110, 109);
    font-size: 1.1rem;
    font-weight: 450;
}

.cards .content{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.cards .content .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    /* background-color: var(--light-gray); */
    background-color: var(--bg-color);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.cards .content .image{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: var(--light-gray);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards .content img{
    width: 45%;
    height: auto;
    object-fit: cover;
}

.cards #card1{
    background-color: rgb(74, 144, 226);
}

.cards #card2{
    background-color: rgb(255, 98, 137);
}

.cards #card3{
    /* background-color: rgb(252, 191, 88); */
    background-color: rgb(253, 175, 40);
}

.cards #card4{
    background-color: rgb(68, 191, 195);
}

.cards #card5{
    background-color: rgb(110, 191, 114);
}

.cards #card6{
    background-color: rgb(125, 120, 177);
}

.cards .card .advantage{
    color: var(--bg-color);
    font-weight: 700;
    font-size: 1.2rem;
}

.cards .card .description{
    color: var(--bg-color);
    font-size: 0.9rem;
    font-weight: 450;
    width: 85%;
}