*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(222,218,177);
    background: linear-gradient(90deg, rgba(222,218,177,1) 0%, rgba(248,249,238,1) 100%);
}

#navList{
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
}

head{
    height: 100vh;
    width: 100vw;
}

body{
    overflow-x: hidden;
}

.container{
    width: 100vw;
    overflow-x: hidden;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.navContainer{
    width: 100%;
    /* background-color: bisque; */
    background: rgb(117,9,135);
    background: linear-gradient(90deg, rgba(117,9,135,1) 0%, rgba(197,126,205,1) 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav{
    width: 100%;
}

#name{
    font-size: 2.8rem;
    color: white;
    font-family: "Rubik Vinyl", serif;
}

a{
    text-decoration: none;
    color: antiquewhite;
}


#navLinks{
    display: flex;
    gap: 40px;
}

footer{
    background: rgb(117,9,135);
    background: linear-gradient(90deg, rgba(117,9,135,1) 0%, rgba(197,126,205,1) 100%);
    display: flex;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

#foot{
    font-size: 2em;
    color: antiquewhite;
}

.content{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid rgb(207, 94, 94); */
    box-shadow: 7px 7px 25px rgb(189, 70, 212);
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    gap: 50px;
}

.contentSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2{
    font-size: 2rem;
}

ul,ol{
    list-style-position: inside;
}

.ingBox{
    font-size: 1.4rem;
}

.recipeBox{
    font-size: 1.1rem;
}

.rightBox img
{
    width: 450px;
    height: 450px;
    border-radius: 20px;
    display: block; /* to remove the extra space below the image */
}

.rightBox:hover{
    transform: scale(1.1);
}

.rightBox{
    position: relative;
    transition: all 0.69s linear 0s;
    box-shadow: 1px 1px 10px rgb(189, 70, 212);
    border-radius: 20px;
}

.rightBox .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.69s linear 0s;
}

.rightBox:hover .overlay{
    opacity: 1;
}

.rightBox .overlay span{
    font-size: 2rem;
    color: white;
}